.g-simplemenu-particle {
    h6 {
        text-transform: uppercase;
        font-size: $core-font-size + 0.2;
        margin-bottom: $content-margin;
        opacity: 0.5;
    }
    &.with-columns {
        margin-left: -$content-margin;
        margin-right: -$content-margin;
        @include display(flex);
        @include flex-wrap(wrap);
        @include justify-content(flex-start);
        @include breakpoint(small-mobile-range) {
            @include justify-content(center);
        }
        h6 {
            flex: 0 0 100%;
            margin-left: $content-margin;
            margin-right: $content-margin;
        }
        .g-simplemenu {
            margin: 0 $content-margin;
        }
    }

    .g-simplemenu {
        list-style: none;
        margin: 0;
        padding: 0;
        @include flex(0 0 auto);
        vertical-align: top;

        li {
            font-size: $core-font-size + 0.4;
            line-height: $core-line-height + 0.1;
        }

        &.g-simplemenu-0cols {
            width: 100%;

            li {
                width: auto;

                @include breakpoint(mobile-only) {
                    width: auto;
                }
            }
        }
    }
}
